@media screen and (min-width: 37.5rem) {
    .menu-toggle {
        display: none;
    }

    #main-nav {
        display: block;
        position: static;
    }

    #main-nav ul {
        display: flex;
        gap: .5rem;
    }

    #main-nav a {
        padding: .5rem .85rem;
        border-radius: var(--radius);
    }

    .home-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    #spotlight-cards{
        grid-template-columns: repeat(3, 1fr);
    }
}